<div class="container-fluid">
    <h2 class="text-center">Create a new Quote Here Please</h2>
    <hr>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>

        <div class="form-group" id="davy">

            <label for="name">Authors Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngModel'
                required>
        
        </div>
        <div class="form-group" id="davy">

            <label for="description">New Quote</label>
            <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.description"
                name="description" #description="ngModel" required></textarea>
           
        </div>
        <div class="form-group">

            <input type='date' id="complete" [(ngModel)]="newQuote.day" name="completeDate"
                #completeDate="ngModel" required>
           
        </div>
        <button type="submit" class="btn btn-success">Add New Quote Here</button>
    </form>
</div> 